module.exports = {

    // Database settings
    // Select Database to use. available: mongodb, mysql.
    db: 'mongodb',

    // MongoDB Settings
    mongodb: 'mongodb://127.0.0.1/minimoedns',
    // MySQL Settings
    mysqlhost: '127.0.0.1',
    mysqlsocket: '/run/mysqld/mysqld.sock',
    mysqldb: 'minimoedns',
    mysqluser: 'root',
    mysqlpass: 'root',

    // enable TCP
    enableTCP: true,

    // enable IPv6
    enableV6: true,

    // DNS Settings
    port: 15353,
    defaultTTL: 3600,
    nameservers: ['ns1.example.com', 'ns2.example.com'],
    nameserversIP: ['127.0.0.1', '127.0.0.2'],
    version: 'Powered by MiniMoeDNS',

    // GeoIP configuration
    GeoDB: './GeoIP.dat',
    GeoDB6: './GeoIPv6.dat',
    GeoISP: './GeoIPISP.dat'
}
