module.exports = {

    // Database settings
    // Select Database to use. available: mongodb, mysql.
    db: 'mongodb',

    // MongoDB Settings
    mongodb: 'mongodb://127.0.0.1/minimoedns',
    // MySQL Settings
    mysqlhost: '127.0.0.1',
    mysqldb: 'minimoedns',
    mysqluser: 'root',
    mysqlpass: 'root',

    // Status report server
    statusReport: true,

    // DNS Settings
    defaultTTL: 3600,
    nameservers: ['ns1.example.com', 'ns2.example.com'],
    nameserversIP: ['127.0.0.1', '127.0.0.2'],
    // GeoIP configuration
    GeoDB: './GeoIP.dat'
}
